<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Simple Express Project</title>
</head>

<body>
  <h1>Dude, something is happening in the headquarters</h1>
  <p>You should way a while...</p>
  <br>
  <br>
  {{> footer}}
</body>

</html>